/*fluent design controls*/

.acrylic-button {
  align-items: center;
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  padding: 10px 20px;
  text-decoration: none;
  transition: background-color 400ms, border-color 400ms;
  animation: fade-in 2s ease;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.acrylic-button:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.acrylic-button > i,
.acrylic-button > span {
  height: 20px;
  line-height: 20px;
}

.acrylic-button > span {
  color: white;
  font-weight: 700;
}

/*slider*/
input[type="range"] {
  -webkit-appearance: none;
  margin-right: 15px;
  width: 200px;
  height: 5px;
  background: rgba(125, 125, 125, 0.5);
  border-radius: 5px;
  background-image: linear-gradient(#a425a0, #a425a0);
  background-size: 50% 100%;
  background-repeat: no-repeat;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-image: radial-gradient(#a425a0 40%, white 50%);
  cursor: pointer;
  box-shadow: 0 0 2px 0 #555;
  transition: background 0.3s ease-in-out;
}

input[type="range"]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

.slider-label {
  font-size: 14px;
  margin-bottom: 0px;
  color: black;
}

/*checkbox*/
input[type="checkbox"]:checked {
  background-color: #a425a0;
  border: 0px;
}

input[type="checkbox"]:checked:after {
  content: "\2713";
  color: white;
}

input[type="checkbox"] {
  text-align: center;
  vertical-align: middle;
  width: 15px !important;
  height: 15px !important;
  appearance: none;
  border-radius: 4px;
  border: 1px solid #555;
  box-shadow: none;
  font-size: 0.4em;
  box-shadow: 0 0 2px 0 #555;
  cursor: pointer;
}

.checkbox-label {
  font-size: 14px;
  color: black;
}

/*button*/
.fluent-button {
  border-radius: 4px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
  border: none;
  color: black;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
}

.fluent-button:hover {
  background-color: #dfdfdf;
}

/*dropdown*/
.dropbtn {
  border-radius: 4px;
  color: black;
  padding: 10px;
  font-size: 14px;
  border: none;
  cursor: pointer;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.dropdown {
  margin: 5px 0 5px 0;
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 4px;
}

.dropdown-content a {
  color: black;
  padding: 5px;
  font-size: 14px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #dfdfdf;
}

.dropbtn:after {
  content: "\25be";
  color: gray;
}

/*color picker*/
.colorpicker {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 204px;
  height: 15px;
  padding: 0px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.colorpicker::-webkit-color-swatch {
  border-radius: 5px;
  border: none;
}
.colorpicker::-moz-color-swatch {
  border-radius: 5px;
  border: none;
}
.colorpicker:hover {
  filter: brightness(1.1);
}

/*progressring*/
.loader {
  border: 16px solid #00000000;
  border-radius: 50%;
  border-top: 16px solid #ff0000;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/*
Floating Button
The MIT License (MIT)
Copyright (c) 2023 Vincent Van Goggles (https://codepen.io/Gogh/pen/XzrNZd)
*/
@-webkit-keyframes come-in {
  0% {
    -webkit-transform: translatey(100px);
    transform: translatey(100px);
    opacity: 0;
  }
  30% {
    -webkit-transform: translateX(-50px) scale(0.4);
    transform: translateX(-50px) scale(0.4);
  }
  70% {
    -webkit-transform: translateX(0px) scale(1.2);
    transform: translateX(0px) scale(1.2);
  }
  100% {
    -webkit-transform: translatey(0px) scale(1);
    transform: translatey(0px) scale(1);
    opacity: 1;
  }
}
@keyframes come-in {
  0% {
    -webkit-transform: translatey(100px);
    transform: translatey(100px);
    opacity: 0;
  }
  30% {
    -webkit-transform: translateX(-50px) scale(0.4);
    transform: translateX(-50px) scale(0.4);
  }
  70% {
    -webkit-transform: translateX(0px) scale(1.2);
    transform: translateX(0px) scale(1.2);
  }
  100% {
    -webkit-transform: translatey(0px) scale(1);
    transform: translatey(0px) scale(1);
    opacity: 1;
  }
}

.floating-container {
  position: fixed;
  width: 100px;
  height: 100px;
  bottom: 0;
  right: 0;
  margin: 35px 25px;
}
.floating-container:hover {
  height: 300px;
}
.floating-container:hover .floating-button {
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-transform: translatey(5px);
  transform: translatey(5px);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.floating-container:hover .element-container .float-element:nth-child(1) {
  -webkit-animation: come-in 0.4s forwards 0.2s;
  animation: come-in 0.4s forwards 0.2s;
}
.floating-container:hover .element-container .float-element:nth-child(2) {
  -webkit-animation: come-in 0.4s forwards 0.4s;
  animation: come-in 0.4s forwards 0.4s;
}
.floating-container:hover .element-container .float-element:nth-child(3) {
  -webkit-animation: come-in 0.4s forwards 0.6s;
  animation: come-in 0.4s forwards 0.6s;
}
.floating-container .floating-button {
  position: absolute;
  width: 65px;
  height: 65px;
  bottom: 0;
  border-radius: 50%;
  left: 0;
  right: 0;
  margin: auto;
  color: white;
  line-height: 65px;
  text-align: center;
  font-size: 32px;
  z-index: 100;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  backdrop-filter: blur(5px);
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}
.floating-container .float-element {
  position: relative;
  display: block;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: 15px auto;
  color: white;
  font-weight: 500;
  text-align: center;
  line-height: 50px;
  z-index: 0;
  opacity: 0;
  -webkit-transform: translateY(100px);
  transform: translateY(100px);
}
.floating-container .float-element {
  vertical-align: middle;
  font-size: 16px;
}
.floating-container .float-element:nth-child(1) {
  background: #3089c5;
  box-shadow: 0px 1px 10px rgba(48, 137, 197, 0.5);
}
.floating-container .float-element:nth-child(2) {
  background: #e7e9ea;
  box-shadow: 0px 1px 10px rgba(231, 233, 234, 0.5);
}
.floating-container .float-element:nth-child(3) {
  background: #ecc500;
  box-shadow: 0px 1px 10px rgba(236, 197, 0, 0.5);
}
.float-element :hover {
  transform: scale(1.15);
  transition: 0.25s ease;
}

/* Download */
#content-download {
  margin-left: 25px;
}

/*loading progressbar*/
.indeterminate-progress-bar {
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
  background-color: #d1d5db;
  height: 5px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
  animation: fade-in 1s ease;
}

.indeterminate-progress-bar__progress {
  background-color: #c9939a;
  position: absolute;
  bottom: 0;
  top: 0;
  width: 50%;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: indeterminate-progress-bar;
}

/* Download button */

.downloads {
  position: relative;
  display: flex;
}
.downloads .holder {
  display: flex;
  height: 80px;
  width: 305px;
  z-index: 1;
  backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  background-color: rgba(32, 32, 32, 0.25);
  outline: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}
#mainDownload {
  z-index: 4;
}

.downloads button,
.downloads div.item {
  border: none;
  outline: 1px solid rgba(255, 255, 255, 0);
  /* backdrop-filter: blur(5px); */
  /* background-color: rgba(32, 32, 32, 0.25); */
  /* transition: background-color 400ms, outline 400ms; */
  transition: background-color 400ms;
}
.downloads button:hover,
.downloads div.item:hover {
  border: none;
  outline: 1px solid rgba(255, 255, 255, 0.2);
  background-color: rgba(255, 255, 255, 0.1);
}

.downloads button {
  padding: 0;
  box-shadow: none;
  backdrop-filter: none;
  background-color: transparent;
  border-radius: 0 5px 5px 0;
  animation: none;
  outline: 1px solid rgba(255, 255, 255, 0.1);
}

.downloads img {
  width: 50px;
  aspect-ratio: 1;
}

.downloads .drawer {
  /* Dropdown */
  /* top: 70px; */
  /* padding-top: 15px; */

  /* Floating */
  top: 90px;

  min-width: 305px;
  height: auto;
  max-height: 270px;
  /* overflow: auto; */
  overflow: hidden;
  z-index: 0;
  transition: max-height 400ms, outline 0ms, overflow 0ms, padding 0ms;
  backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  background-color: rgba(32, 32, 32, 0.25);
  outline: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  flex-direction: column;
  justify-content: flex-start;
  position: absolute;
}
.downloads .drawer.closed {
  max-height: 0;
  overflow: hidden;
  padding: 0;
  outline: none;
  transition: max-height 400ms, outline 0ms 400ms, overflow 0ms 400ms,
    padding 0ms 400ms;
}

.downloads div.item {
  display: flex;
  height: 60px;
  padding: 10px 5px;
  margin: 2px 10px;
  cursor: pointer;
  align-items: center;
  border-radius: 5px;
}
.downloads #mainDownload div.item {
  width: 225px;
  margin: 0 0;
  padding: 10px 15px;
  border-radius: 5px 0 0 5px;
}
.downloads .drawer div.item:first-child {
  margin-top: 10px;
}
.downloads .drawer div.item:last-child {
  margin-bottom: 10px;
}
.downloads div.item img {
  width: 40px;
  margin-right: 10px;
  height: 40px;
}
.downloads div.item p {
  font-size: 15px;
  margin: 0;
  padding: 0;
}

.downloads .drawer::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
.downloads .drawer::-webkit-scrollbar-thumb {
  background: #4e4e4e;
  border: 0px solid black;
  border-radius: 20px;
}
.downloads .drawer::-webkit-scrollbar-track {
  background: #a1a1aa;
}
.downloads .drawer::-webkit-scrollbar-corner {
  background: #ffffff;
  border: 0px solid black;
  border-radius: 20px;
}

.downloads .drawer::-webkit-scrollbar-button:vertical:start:increment,
.downloads .drawer::-webkit-scrollbar-button:vertical:end:decrement,
.downloads .drawer::-webkit-scrollbar-button:horizontal:start:increment,
.downloads .drawer::-webkit-scrollbar-button:horizontal:end:decrement {
  display: none;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
