:root {
  --color-font1: white;
  --color-font2: rgba(255, 255, 255, 0.8);
  --font1: "Noto Sans", sans-serif;
  --font2: "Noto Sans", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font1);
  font-style: normal;
  font-size: 24px;
  background: url(../assets/temp_background.webp) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: var(--color-font1);
  overflow-x: hidden; /* Hide horizontal scrollbar */
}

h1 {
  text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
  font-size: 36px;
  margin-bottom: -15px;
}

p {
  color: var(--color-font2);
  font-size: 21px;
  text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
}

/* threejs background */
#container {
  position: fixed;
  right: 0;
  transform: scale(1.09);
  z-index: -10;
  opacity: 0; /*set to 1 after sceneLoaded event*/
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#content-demo {
  transform-style: preserve-3d;
  transform: perspective(1000px);
}

#content-download {
  margin-left: 25px;
}

#demo-clip-border {
  height: 480px;
  /* border: 1px solid rgba(134, 140, 147, 0.5); */
  outline: 1px solid rgba(134, 140, 147, 0.5);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

.video {
  height: 480px;
  transition: 0.5s;
  position: relative;
  object-fit: fill;
  border-radius: 5px;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*portrait mode*/
@media screen and (max-width: 1000px) {
  .wrapper {
    flex-direction: column;
  }
  .video, #demo-clip-border {
    height: 320px;
  }
}
