:root {
  --color-font1: white;
  --color-font2: rgba(255, 255, 255, 0.8);
  --font1: "Noto Sans", sans-serif;
  --font2: "Noto Sans", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font1);
  font-style: normal;
  font-size: 24px;
  background: url(../assets/temp_background.webp) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: var(--color-font1);
  overflow-x: hidden; /* Hide horizontal scrollbar */
}

h1 {
  text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
  font-size: 36px;
  margin-bottom: -15px;
}

p, a {
  color: var(--color-font2);
  font-size: 21px;
  text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
}

/* threejs background */
#container {
  position: fixed;
  right: 0;
  transform: scale(1.09);
  z-index: -10;
  opacity: 0; /*set to 1 after sceneLoaded event*/
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Parallax */
#content-demo {
  transform-style: preserve-3d;
  transform: perspective(1000px);
}

#demo-clip-border {
  height: 480px;
  width: 554px;
  /* border: 1px solid rgba(134, 140, 147, 0.5); */
  outline: 1px solid rgba(134, 140, 147, 0.5);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

.video {
  height: 480px;
  width: 554px;
  transition: 0.5s;
  position: relative;
  object-fit: fill;
  border-radius: 5px;
}

#dynamic-labels {
  transform: translateZ(25px);
  pointer-events: none;
}

#app-icon {
  position: absolute; 
  padding: 10px 0 0 12.5px;
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.5));
}

#day-selector {
  position: absolute;
  padding: 113px 0 0 85px;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: 1fr;
  gap: 6px;
  font-size: 11px;
}

.day-text {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  width: 50px; 
  margin-right: 35px
}

.day-icon {
  filter: drop-shadow(1px 1px 2px rgba(45, 45, 45, 0.5));
}

#weather-header {
  position: absolute;
  padding: 35px 0 0 202px;
}

#weather-header-city {
  text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
  font-size: 16px;
  text-align: center;
}

#weather-header-temp {
  text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
  font-size: 21px;
  text-align: center;
}

#weather-header-label {
  text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
  font-size: 12px;
  text-align: center;
  opacity: 0.4;
}

#card-uv {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  position: absolute;
  padding: 285px 0 0 80px;
}

#card-uv-desc {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  font-size: 10px;
  opacity: 0.4;
}

#card-humidity {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  position: absolute;
  padding: 304px 0 0 403px;
  font-size: 14px;
}

#card-wind {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  position: absolute;
  padding: 402px 0 0 117px;
  font-size: 11px;
}

#card-aqi {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  position: absolute;
  padding: 380px 0 0 208px;
}

#card-aqi-desc {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  font-size: 10px;
  opacity: 0.4;
}

#card-pressure {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  position: absolute;
  padding: 385px 0 0 362px;
  font-size: 18px;
}

/* Download */
#content-download {
  margin-left: 25px;
}

/*loading progressbar*/
.indeterminate-progress-bar {
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
  background-color: #d1d5db;
  height: 5px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
  animation: fade-in 1s ease;
}

.indeterminate-progress-bar__progress {
  background-color: #c9939a;
  position: absolute;
  bottom: 0;
  top: 0;
  width: 50%;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: indeterminate-progress-bar;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes indeterminate-progress-bar {
  from {
    left: -50%;
  }
  to {
    left: 100%;
  }
}

/*portrait mode*/
@media screen and (max-width: 1000px) {
  .wrapper {
    flex-direction: column;
  }

  h1 {
    font-size: 28px;
  }
  
  p {
    font-size: 18px;
  }

  .video, #demo-clip-border {
    height: 320px;
    width: 369px;
  }

  #weather-header {
    position: absolute;
    padding: 20px 0 0 140px;
  }
  
  #weather-header-city {
    font-size: 10px;
    text-align: center;
  }
  
  #weather-header-temp {
    font-size: 12px;
    text-align: center;
  }
  
  #weather-header-label {
    font-size: 9px;
    text-align: center;
    opacity: 0.4;
  }

  #day-selector {
    padding: 75px 0 0 55px;
    font-size: 7px;
    gap: 4px;
  }

  .day-text {
    margin-right: 10px;
  }

  #card-uv {
    padding: 190px 0 0 55px;
    font-size: 16px;
  }
  
  #card-uv-desc {
    font-size: 9px;
  }
  
  #card-humidity {
    padding: 202px 0 0 267px;
    font-size: 10px;
  }
  
  #card-wind {
    padding: 267px 0 0 77px;
    font-size: 8px;
  }
  
  #card-aqi {
    padding: 255px 0 0 140px;
    font-size: 16px;
  }
  
  #card-aqi-desc {
    font-size: 9px;
  }
  
  #card-pressure {
    padding: 260px 0 0 240px;
    font-size: 14px;
  }
}